@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    margin: 0;
    padding: 0 0;
}
.cabeçalho{
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.cabeçalho-imagem{
    width: 15%;
    border: 4px solid black;
    border-radius: 40px 40px 40px 40px;
}
.cabeçalho-titulo{
    text-transform: uppercase;
    font-size: 80px;
    font-family: "Anta", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: 60px 0;
}
.cabeçalho-item{
    display: inline-block;
    color: black;
    margin: 0 16px;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.escola{
    background-image: linear-gradient(yellow, white);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
.escola-textos{
    display: block;
}
.escola-titulo{
    font-size: 40px;
    padding: 24px 0;
    font-family: "Anta", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: 60px 0;
}
.escola-texto-um{
    font-size: 20px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    padding: 0 12px 0 0;
}
.escola-texto-dois{
    font-size: 20px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 12px 12px 0 0;
}
.escola-foto{
    width: 65%;
    padding: none;
    margin: none;
    border-radius: 40px 40px 40px 40px;
}

.colaboradores{
    display: block;
}

.colaboradores-titulo{
    text-align: center;
    padding: 50px 0;
    font-family: "Anta", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: 60px 0;
}
.colaboradores-imagem{
    width: 100px;
}

.colaboradores-icone{
    width: 24px;
}

.colaboradores-texto{
    display: block;
    padding: 24px;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.colaboradores-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: black;
    color: yellow;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: none;
}
.rodape-imagem{
    width: 10%;
    border: 4px solid yellow;
    border-radius: 40px 40px 40px 40px;

}
.rodape-titulo{
    padding: 0 24px;
    text-transform: uppercase;
    font-size: 60px;
    font-family: "Anta", sans-serif;
    font-weight: 800;
    font-style: normal;
}